Django>=4.2,<5.3
gunicorn>=21.2
whitenoise[brotli]>=6.6
psycopg2-binary>=2.9
djangorestframework>=3.14
# dj-database-url можно раскомментировать и использовать вместо ручного парсинга DATABASE_URL
# dj-database-url>=2.2 
httpx>=0.27
pydantic>=2.6,<3.0